@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kdc212');
    src:  url('../fonts/icomoon.eot?kdc212#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kdc212') format('truetype'),
    url('../fonts/icomoon.woff?kdc212') format('woff'),
    url('../fonts/icomoon.svg?kdc212#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.message-error {
    border: 1px solid red;
}
.text-404 {
    color: #858585;
    width: 300px;
}
.text-error {
    color: red;
    position: relative;
    left: 45px;
    top: 5px;
    font-size: 15px;
}
.help {
    font-size: 12px;
    padding: 5px;
    color: #797979;
}
.noResult {
    font-size: 15px;
    padding: 0 5px 5px 5px;
    color: #797979;
}
#autocomplete {
    width: 220px;
    height: 20px;

}
.icon {
    font-family: 'icomoon';
    position: relative;
    top: 3px;
    left: 1px;
}
.icon-pencil:before {
    content: "\e905";
    color: #797979;
    font-size: 20px;
}
.icon-search:before {
    content: "\e986";
    color: #797979;
    font-size: 20px;
}
.icon-notification:before {
    content: "\ea08";
    color: #ff0300;
    font-size: 20px;
}
.icon-checkmark:before {
    content: "\ea10";
    color: #797979;
    font-size: 20px;
}